.bckcontainer {       
     width: 30px;
            height: 30px;
            border-radius: 50%; 
      object-fit: cover; 
      border: 2px solid #ccc; 
            
}

carousel-item {
background-color: #f8f9fa;
border-radius: 10px;
}
carousel-item img {
border: 3px solid #6c757d;
}


